:root {
  --box-bg-color: grey;
  --box-border-color: darkgrey;  
  --post-border-color: black;
  --post-bg-color: grey;
  --post-img-border-color: darkgrey;
  --post-text-color: black;
  --post-publisher-color:;
  --bg-color: white;
}




.sidebarnav{
    width: 200px;
    height: 550px;
    border: 15px solid var(--box-border-color);
    padding: 5px;
    position: fixed;
    left: 0%;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background-color: white;
    top: 20%;
}

.sidebarnav_2 {
    width: 200px;
    height: 550px;
    border: 15px solid var(--box-border-color);
    padding: 0px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background-color: white;
    position: fixed;
    top: 20%;
    right: 0%
}

.nav-item {
  align-self: center;
}

.navbutton {
  margin-right: 5px;
  margin-top: 8px;
}

.profilepic {
    width: 130px;
    height: 130px;
    border: 5px solid black;
    margin-left: 15px;
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
}

.navbar-brand {
    font-size: 30px;
}

.home-style {
  position: fixed;
  height: 150px;
  width: 100%;
  border: 10px solid darkgray;
  right: 0%;
  background-color: lightblue
}

#postwimage {
  border: 12px solid black;
  background-color: gray;
  border-radius: 7px;
  right: 20%;
  width: 700px;
  height: 525px;
  padding-left: 0px;
}

.commentsbackground {
  border: 12px solid black;
  background-color: gray;
  border-radius: 7px;
  right: 20%;
  width: 700px;
  padding-bottom: 20px;
  height: auto;
  padding-left: 12px;
  margin-left: 0px;
}

#postnoimage {
  border: 12px solid black;
  background-color: gray;
  border-radius: 7px;
  right: 20%;
  width: 700px;
  height: 200px;
  padding-bottom: 5px;
  padding-left: 0px;

}

.rulebox {
  width: 500px;
  height: 500px;
  border: 15px solid black;
  background-color: grey;
  top: 30%;
  right: 30%;
}

.postimagebox {
  width: 650px;
  height: 350px;
  border-radius: 5px;
  border: 8px solid darkgray;
  margin-left: 12px;
  margin-top: 0px;
  background-color: black;
}

.commentspostimage {
  width: auto;
  height: 175px;
  margin-right: auto;
  margin-left: auto;
}

.postidnumber {
  text-align: left;
  font-size: 20px;
  color: red;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.postinteractions {
  width: 676px;
  height: 75px;
  border-top: 10px solid black;
  border-bottom: 1px solid rgba(255,0,0,0); /*box that the stuff is in under each post*/
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 0px;
  left: 0px;
  vertical-align: bottom;
}

#usrnameanddateofpost {
  font-size: 20px;
  text-align: left;
  margin-left: 3px;
  margin-bottom: 0px;
  color: black;
}

.tab {
  display:inline-block; 
  margin-left: 40px;
}

.smtab {
  display: inline-block;
  margin-left: 20px;
}

.poststars {
  color: yellow;
  font-size: 30px;
  margin: 0;
  margin-left: 0;
  cursor: default;
}

#ratebutton {
  margin-top: 2px;
  margin-left: 10px;
}

ul#menu li {
  display: inline;
  list-style: none;
  padding-left: 0;
}

.postinteractables {
  border: 1px solid rgba(69, 69, 69, 0);
  padding: 0px;
  height: 35px;
}

.postlikes {
  font-size:30px;
  margin-left: 5px;
}

#likebutton {
  margin-left: 20px;
  margin-top: 0px;
  font-size: 20px;
}

#flagbutton {
  margin-left: 25px;
  margin-top: 0px;
  font-size: 20px;
}

#commentsbutton {
  margin-left: 20px;
  margin-top: 2px;
}

.postbody {
  margin-left: 3px;
}

.textpostbody {
  margin-left: 3px;
  height: 70px;
}

.postimage {
  
  height: 100%;
  max-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.commentpostbox {
  height: 175px;
  width: 650px;
  padding-left: 15px;
  border: 10px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
}

.commentbox {
  height: 100px;
  width: 650px;
  padding-left: 15px;
  border: 10px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
}

.profilebox {
  width: 700px;
  height: 450px;
  border: 13px solid black;
  background-color: gray;
  border-radius: 7px;
  margin-top: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

#dispinblk {
  margin-right: 0px;
  display: inline-block;
}

#fltright {
  float: right;
}

.searchusrbox {
  width: 185px;
  height: 45px;
  border: 1px solid rgba(255, 0, 0, 255);
  margin-right: 0px;
  padding-right: 7px;
}

.imageandnamebox {
  width: 170px;
  height: 200px;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  border-top: 1px solid rgba(255, 0, 0, 255);
  margin-top: 0px;
}

.profilepagepic {
  width: 140px;
  height: 140px;
  border: 7px solid black;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.ppusrnm {
  width: 140px;
  height: 40px;
  border: 1px solid rgba(255, 0, 0, 255);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 5px;
  color: white;
}

.editnbackbtnbox {
  width: 170px;
  height: 110px;
  border-right: 10px solid black;
  border-bottom: 1px solid rgba(255, 0, 0, 255);
  border-top: 1px solid rgba(255, 0, 0, 255);
}

.profilebottombox {
  width: 100%;
  height: auto;
  border-top: 10px solid black;
  margin-left: 0px;
}

.profilepagebottomleftinnerbox {
  width: 50%;
  height: 105px;
  border: 1px solid rgba(255, 0, 0, 255);
  border-right: 10px solid black;
  margin: 0px;
}

.pflestatsbox {
  border: 1px solid red;
  float: right;
  width:75%;
  height: 74%
}

.folsingbox {
  border: 1px solid red;
  width: 50%;
  height: 105px
}

.pflstatsbox {
  border: 1px solid red;
  border-right: 10px solid black;
  float: left;
  height: 310px;
  width: 50%
}

.pflboxnexttostats {
  border: 1px solid red;
  float: right;
  width: 50%;
  height: 310px
}
