:root {
  --welcomboxwidth: 240px;
  --welcomboxheight: 380px;
}
input {
  width: 90%; 
}
body {
  background-color: lightcyan;
}

.content-section {
  width: var(--welcomboxwidth);
  height: var(--welcomboxheight);
  border: 15px solid darkgray;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  background-color: white;
}

#sidebarnav {
  width: 200px;
  height: 500px;
  border: 15px solid darkgray;
  padding: 5px;
  margin-left: auto;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-color: white;
  margin-top: 10%;
  position: left;
  float: right;
}
#settingsbuttonloation {
  text-align: center;
  margin-top: 10px;
}
#listpushedtoleft {
  padding-left: 0;
}
#listelement1 { /*sidebarnav list*/
  padding-top: 5px;
}
#center {
  text-align: center;
}
#searchbuttonlocation {
  margin-top: 3px;
}
