{% extends "layout.html" %}
{% block content %}
  <form method="POST", action="">
             {{form.hidden_tag()}}
           <fieldset class="form-group">
               <div2 class="form-group">
                 {{form.body.label}}</br>
                 {{form.body}}</br>
                 {% for error in form.body.errors %}
                  <span>{{error}}</span>
                {% endfor %}
               </div2>
           </fieldset>
             <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
         </form>
{% endblock content %}
