{% extends "layout.html" %}
{% block content %}
  <div class="home-style">
    <center><h1 style="font-size: 100px">Welcome</h1></center>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% for post in post %}
    {% if post.image %}
    <div id="postwimage" class="container text-center">
      <h1 class="postidnumber">Post: {{post.id}}</h1>
        <div class="postimagebox">
          <img src="static/post_pics/{{post.image}}" style="float:left;width:100%;height:100%;object-fit:cover">
        </div>
        <div>
          <p>{{post.body}}</p>
        </div>
        <div class="postinteractions">
          <p>Likes: {{post.likes}}</p>
        </div>
    </div>
    {% else %}
    <div id="postnoimage" class="container text-center">
      <h1 class="postidnumber">Post: {{post.id}}</h1>
        <div>
          <p>{{post.body}}</p>
          <p>Likes: {{post.likes}}</p>
        </div>
    </div>
    {% endif %}
    <br>
  {% endfor %}
{% endblock content %}
