{% extends "layout.html" %}
{% block content %}
  <div class="home-style">
    <center><h1 style="font-size: 100px">&#127942 Welcome &#127942</h1></center>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% for post in post %}
    {% if post.image %}
    <div id="postwimage" class="container">
      <h1 class="postidnumber">Post: {{post.id}}</h1>
        <div class="postimagebox">
          <img class="postimage" src="static/post_pics/{{post.image}}" alt="If you can read this you might be thinking why didnt this image display and im here to tell you it sounds like a you problem but if you want to do somthing about it then report the issue and we might take a look at it - from: RyanL">
        </div>
        <div class="postbody">
          <p><strong>Body:</strong> {{post.body}}</p>
        </div>
        <div class="postinteractions">
          <h1 id="usrnameanddateofpost">User: anonymous <span class="tab"> Date: (dateofpost)</h1>
          <div class="postinteractables">
            <ul id="menu">
              <li style="float:left"><h1 class="poststars">&#9734 &#9734 &#9733 &#9733 &#9733</h1></li>
              <li style="float:left"><button id="ratebutton" type='button' class='btn btn-warning btn-sm'>Rate</button></li>
              <li style="float:left"><h1 class="postlikes">Likes: {{post.likes}}</h1></li>
              <li style="float:left"><button id="commentsbutton" type='button' class='btn btn-primary btn-sm'>Comments</button></li>
            </ul>
          </div>
        </div>
    </div>
    {% else %}
    <div id="postnoimage" class="container">
      <h1 class="postidnumber">Post: {{post.id}}</h1>
        <div class="textpostbody">
          <p style="color: black">{{post.body}}</p>
        </div>
        <div class="postinteractions">
          <h1 id="usrnameanddateofpost">User: anonymous <span class="tab"> Date: {{post.date}}</h1>
          <div class="postinteractables">
            <ul id="menu">
              <li style="float:left"><h1 class="poststars">&#9734 &#9734 &#9733 &#9733 &#9733</h1></li>
              <li style="float:left"><button id="ratebutton" type='button' class='btn btn-warning btn-sm'>Rate</button></li>
              <li style="float:left"><h1 class="postlikes">Likes: {{post.likes}}</h1></li>
              <li style="float:left"><button id="commentsbutton" type='button' class='btn btn-primary btn-sm'>Comments</button></li>
            </ul>
          </div>
        </div>
    </div>
    {% endif %}
    <br>
  {% endfor %}
{% endblock content %}
