{% extends "layout.html" %}
{% block content %}
  <div style="position: fixed; height: 150px; width: 100%; border: 10px solid darkgray; right: 0%; background-color: lightblue">
    <center><h1 style="font-size: 100px">welcome</h1></center>
  </div>
  {% for post in post %}
    <div class="container text-center bg-primary">
        <h1>Post: {{post.id}}</h1>
        {% if post.image %}
          <img src="static/post_pics/{{post.image}}">
        {% endif %}
        <p>{{post.body}}</p>
        <p>Likes: {{post.likes}}</p>
    </div><br>
  {% endfor %}
{% endblock content %}
