<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   {% if title %}
    <title>{{title}}</title>
   {% else %}
    <tile>Meme_Site</tile>
   {% endif %}
   <link href="static/main.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="static/main.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 </head>
 <body>
   <script src="script.js"></script>
 </body>
 <body>
        <aside style='float: right'>
            <div id="sidebarnav">
             <h1 style="font-size:200%">Navigation</h1>
             <div2 class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pages
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Top Charts</a></li>
                  <li><a href="#">Most Recent</a></li>
                  <li><a href="#">tobedetermined</a></li>
                </ul>
              <p></p>
              </div2>
              <form action=""> <!--put somthing here -->
                <div2 class="form-group">
                  <label for="pwd">Search User:</label>
                  <input type="text" class="form-control" id="pwd" placeholder="username" name="pwd">
                </div2>
                <button type="submit" class="btn btn-info btn-xs">Search</button>
              </form>
              <ul id="listpushedtoleft" style="list-style-type:none">
                <li id="listelement1"><button type="button" class="btn btn-success">admins</button></li>
                <li id="listelement1"><button type="button" class="btn btn-success">rules</button></li>
                <li id="listelement1"><button type="button" class="btn btn-success">suggestions</button></li>
                <li id="listelement1"><button type="button" class="btn btn-success">apply for mod</button></li>
              </ul>
              <button type="button" class="btn btn-success">Settings</button>
            </div>
        </aside>

    <main role='main' class='container>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 </body>
</html>
